:root{
    --primary-color: red;
    --secondary-color: yelll;
}


#home{
    height: calc(100vh - 6rem);
    width: 100vw;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}
.intro{
    padding: 2rem;
    font-size: 3rem;
    font-weight: 700;
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.hello{
    font-size: 1.5rem;
    font-weight: 100;
}
.intro-name{
    color: var(--primary-color);
}
.intro-para{
    font-size: medium;
    font-weight: 300;
    letter-spacing: 1px;
}
.Hire-me{
    background: white;
    padding: 0.75rem;
    border: none;
    border-radius: 2rem;
}
.profile-image{
    position: absolute;
    top: -1rem;
    right: 0;
    z-index: -1;
    object-fit: cover;
    height: 100vh;
}

@media  screen and (max-width: 840px){
    .profile-image{
        right: -4vw;
    }
    .intro{
        font-size: 8vw;
    }
    .hello{
        font-size: 4.5vw;
    }
    .intro-para{
        font-size: 4vw;
    }
    .test{

    }
}

@media screen and (max-width: 480px){
    .profile-image{
        right: -50vw;
    }
    .intro{
        font-size: 8vw;
    }
    .hello{
        font-size: 4.5vw;
    }
    .intro-para{
        font-size: 4vw;
    }

}